# Ignore big data files
data/data/*.parquet
data/data/*.npz
data/data/*.bin
data/data/*.pkl
data/data/*.csv

# Ignore cache and environment
__pycache__/
.env
.DS_Store

# Ignore Jupyter & IDE
.ipynb_checkpoints/
.vscode/
